@import '~bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

$purple: #962865;
$family-serif: 'Literata', serif;

$primary: $purple;
$family-primary: $family-serif;

$card-shadow: none;

@import '~/node_modules/buefy/dist/buefy.min.css';
@import '~bulma';

.navbar-item img {
  max-height: 64px;
}

.navbar-burger {
  height: auto;
}

.card {
  border-radius: $radius-large;
  border: 1px solid $primary;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  pointer-events: auto !important;
}

.b-table {
  .table {
    td {
      vertical-align: middle;
      .b-checkbox {
        vertical-align: middle;
      }
    }
  }
}
