@use 'bulma/sass/utilities/functions' as functions;
@use 'bulma/sass/utilities/derived-variables' as derived-variables;

$-purple: #962865;
$family-serif: 'Literata', serif;

@use 'bulma/bulma' as * with (
  $purple: $-purple,
  $primary: $-purple,
  $family-primary: $family-serif,
  $card-shadow: none,
  $footer-background-color: derived-variables.$scheme-main,
  $input-placeholder-color:
    functions.bulmaRgba(derived-variables.$text-strong, 0.6)
);

$checkbox-border-color: $purple;
$checkbox-border-width: 1px;

/* change to @use when possible */
@import '@oruga-ui/theme-bulma/dist/scss/bulma';

@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

.navbar-item img {
  max-height: 64px;
}

.navbar-burger {
  height: auto;
}

.card {
  border-radius: $radius-large;
  border: 1px solid $primary;
}

.b-table {
  .table {
    td {
      vertical-align: middle;
      .b-checkbox {
        vertical-align: middle;
      }
    }
  }
}

.centered-page {
  min-height: calc(100vh - 64px - 1rem) !important;
  align-items: center;
}

.footer {
  box-shadow: 0 -2px 0 0 $scheme-main-ter;
}

.taginput-container {
  min-height: 2.5rem;
}

.is-primary.input ~ .icon.is-left {
  color: $primary;
}

.is-primary.input:focus ~ .icon.is-left {
  color: $primary-dark;
}

.checkbox.button:not(.is-primary) {
  border-color: $primary;
  color: $primary;
}

.columns.is-space-around {
  justify-content: space-around;
}

/* based on Buefy's toast */
.toast {
  display: inline-flex;
  animation-duration: $speed-slow;
  margin: 0.5em 0;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 2em;
  padding: 0.75em 1.5em;
  pointer-events: auto;
  opacity: 0.92;
  align-self: center;

  @each $name, $pair in $notification-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      color: $color-invert;
      background: $color;
    }
  }
}

.section.has-shadow {
  box-shadow: 0 2px 0 0 $background;
}

$sizes: 18, 24, 36, 48;

@each $size in $sizes {
  .i-mdi-#{$size}px {
    width: #{$size}px !important;
    height: #{$size}px !important;
  }
}
